font-family:
-apple-system, "San Francisco", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif;

 "San Francisco Display", "Helvetica Neue", "Lucida Grande", "noto sans", Helvetica, Arial, sans-serif;


 "San Francisco Display", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, "Marker Felt", "Comic Sans MS", sans-serif;


 system, -apple-system, ".SFNSDisplay-Regular"

		body {
			font-size: 2em;
		}

		h1 {
			font-family: "Gill Sans", sans-serif;
			font-weight: 700;
			font-size: 1.5em;
		}

		p {
			font-family: "Gill Sans", sans-serif;
			font-weight: 100;
		}
		p.sample {
			font-weight: 800;
			border: 2px solid #ddd;
			margin: 10px;
			padding: 5px;
		}

		p.classic {
			font-family: "San Francisco Display", "Helvetica Neue", "Lucida Grande", "Marker Felt", "Comic Sans MS";
			color: red;
		}
		p.system {
			font-family: "System Font", "Marker Felt", "Comic Sans MS";
			color: orange;
		}
		p.fontname {
			font-family: ".SFNSDisplay-Regular", "Marker Felt", "Comic Sans MS";
			color: gold;
		}
		p.applesystem {
			font-family: -apple-system, "Marker Felt", "Comic Sans MS";
			color: limegreen;
		}
		p.test {
			font-family: -webkit-system-font, "Marker Felt", "Comic Sans MS";
			color: mediumblue;
		}
		p.hybrid {
			font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande", "Marker Felt", "Comic Sans MS";
			color: darkviolet;
		}

		p.note {
			color: #aaa;
			font-size: 0.75em;
		}

	/*
		Note: The CSS2 system font styles are problematic: they don't work consistently in all browsers. You also need override sizes, weights and fallbacks separately from the font-family.

		p.test {
			font: caption;
			font-size: 1em;
			font-weight: 800;
			color: pink;
		}

		p.test {
  			font: -apple-system-body !important;
			font-size: 1em;
			font-weight: 800;
			color: pink;
		}

		Note: The sans-serif generic font family name can't be used: it renders as Helvetica (not Helvetica Neue) on both Chrome and Safari in all versions of OS X. Also, some browsers expose mechanisms to override this default font.

		p.test {
			font-family: sans-serif, "Marker Felt", "Comic Sans MS";
			color: pink;
		}

	*/
